.datepicker-container {
    font-size: 1rem;
}

.datepicker-panel>ul>li:hover {
    background-color: #28a745;
    color: #fff;
}

.datepicker-panel>ul>li.highlighted:hover {
    background-color: #28a745;
    color: #fff;
}

.datepicker-panel>ul>li.disabled.highlighted,
.datepicker-panel>ul>li.disabled:hover.highlighted {
    background-color: #e9ecef;
    color: #495057;
}

.datepicker-panel>ul>li.picked,
.datepicker-panel>ul>li.picked:hover {
    color: #28a745;
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}

.algolia-places {
    flex: 1 1 auto;
    width: 1%;
}

.algolia-places input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}